<!DOCTYPE html>
  
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AI Text generation</title>
  <meta name="title" content="Démo de GPT-2 en français.">
  <meta name="description" content="Génération de textes en français.">
  <meta property="og:image" content="https://raw.githubusercontent.com/aquadzn/gpt2-french/master/src/gpt2.png">
  <meta property="og:image:type" content="image/png">
  <link rel="shortcut icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/google/223/hugging-face_1f917.png">
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered is-centered">
        <h1 class="title is-1">{{ h1 }}</h1>
        <h2 class="subtitle is-4">Génération de textes en français</h2>
        <a class="button is-medium is-rounded" href="https://github.com/aquadzn/gpt2-french/" target="_blank">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </section>

  <section id="main" class="section">
    <div class="container">
      <div class="columns is-variable is-5">
        <div class="column is-narrow" style="width: 50%;">

          <form id="gen-form">

            <div class="field">
              <label class="label">Réplique</label>
              <div class="control">
                <textarea id="prompt" class="textarea" type="text" rows="2"></textarea>
              </div>
              <p class="help">Réplique avec laquelle débutera le texte généré. <em>(Optionnel, max: 500 caractères)</em></p>
            </div>

            <div class="field">
              <label class="label">Longueur du texte généré</label>
              <div class="control">
                <input id="length" class="input" type="text" placeholder="Nombre de mots" value="20">
              </div>
              <p class="help">Nombre de mots (tokens) à générer. Environ 20 secondes pour 100 mots.<em>(max: 1023)</em></p>
            </div>

            <div class="field">
              <label class="label">Température</label>
              <div class="control">
                <input id="temperature" class="input" type="text" placeholder="1.0" value="1.0">
              </div>
              <p class="help">Ajuste la créativité du texte généré.<em>(Valeur optimale entre 0.7 et 1.0)</em></p>
            </div>

            <div class="buttons">
              <span class="control">
                <button type="submit" name="submit" id="generate-text" class="button is-link is-normal">
                  <span class="icon">
                    <i class="fas fa-md fa-pen"></i>
                  </span>
                  <span>Générer un texte</span>
                </button>
              </span>
            </div>
          
          </form>

          <div class="buttons">
            <span class="control">
              <button id="save-image" class="button is-light is-normal">
                <span class="icon">
                  <i class="fas fa-md fa-save"></i>
                </span>
                <span>Sauvegarder le texte</span>
              </button>
            </span>

            <span class="control">
              <button id="clear-text" class="button is-danger is-normal">
                <span class="icon">
                  <i class="fas fa-md fa-trash-alt"></i>
                </span>
                <span>Nettoyer l'affichage</span>
              </button>
            </span>
          </div>
          
        </div>
        
        <div id="model-output"         self.port = port
        class="column">
          <p id="tutorial" class="subtitle is-size-6-mobile"><em>Votre texte généré apparaîtra ici après avoir appuyé sur le bouton <strong>Générez un texte</strong></em></p>
        </div>

      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Site réalisé avec Bulma par <a href="https://github.com/aquadzn/">William Jacques</a>.<br>
        <br>Implémentations <a href="https://github.com/minimaxir/gpt-2-simple" target="_blank"><strong>gpt-2-simple</strong></a>
        et <a href="https://github.com/minimaxir/gpt-2-cloud-run" target="_blank"><strong>gpt-2-cloud-run</strong></a> de
        <a href="https://minimaxir.com" target="_blank">Max Woolf</a>. Modèle GPT-2 original par <a href="https://openai.com" target="_blank">OpenAI</a>.
        <br>Le contenu de ce site est construit sur la license <a href="https://github.com/aquadzn/gpt2-french/blob/master/LICENSE" target="_blank">MIT</a>.
      </p>
    </div>
  </footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="{{ url_for('static', path='/script.js') }}"></script>
</html>
